@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.browse{
    font-size: 300px;
    font-weight: 600;

}
.market{
    display: flex;
    align-items: center;
}
img:hover{
    transform: scale(1.08);
    box-shadow: 10px 10px 5px lightblue;
}